/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url(https://fonts.googleapis.com/icon?family=Roboto);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body {
  font-family: Roboto; // #1
  
}

.container{
    margin:50px;
}

.margin-top{
    margin-top: 50px;
}

.margin-top-form{
    margin-top: 25px;
}

.margin-bottom-form{
    margin-bottom: 25px;
}

@media screen and (max-width: 600px) {
    .container{
        margin:0;
    }

    h2{
        text-align: center;
    }
}